body {
    overflow-x: hidden;
    
}

/* Jumbotron */

.jumbotron {
    padding-top: 6rem;
    background-color: #a2d9ff;
}   

.jumbotron img {
    width: 70vw;
    height: 70vw;
    object-fit: cover;
    border: 3px solid white;
    max-height: 200px;
    max-width: 200px;
}

.project {
    background-color: #a2d9ff;
}


section {
    scroll-margin-top: 5rem; /* agar pas di heading section scrollnya, gak ketutup navbar */
}


.gallery .row > * { /* artinya semua elemen yang berada di dalam row */
    padding: 0px;
}

.photo {
    background-color: #a2d9ff;
}

.image-box-container {
    background-color: #0D6EFD;
    border-radius: 10px;
    height: 570px;
}

/* photo */
.image-box {
    /* background-color: #0D6EFD; */
    border-radius: 10px;
    height: 570px;
    position: relative;
    transform-style: preserve-3d; /* agar bisa 3d */
}

.image-box::before {
    content: "Ahmad";
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 6rem;
    font-style: italic;
    top: 55px;
    opacity: 0;
    transition: 500ms;
    left: -100px;
    z-index: 1;
}

.image-box::after {
    content: "Rizki";
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 6rem;
    font-style: italic;
    top: 350px;
    opacity: 0;
    transition: 500ms;
    right: -100px;
}

.image-box:hover::before {
    opacity: 0.5;
    /* buat ke tengah */
    left:50%; /* % terhadap parentnya */
    transform: translate3d(-50%,0,40px); /* % terhadap dirinya sendiri */
}

.image-box:hover::after {
    opacity: 0.5;
    /* buat ke tengah */
    right:50%; /* % terhadap parentnya */
    transform: translate3d(50%,0,40px); /* terhadap dirinya sendiri */
}

.photo-name {
    position: absolute;
    color: #Ddd;
    text-align: center;
    width: 100%; /* agar bisa center */
    font-size: 2rem;
    opacity: 0;
    top: 0px;
    transform: translate3d(0,0,50px);
    transition: .5s;
}

.image-box:hover .photo-name {
    opacity: 1;
    top: 30px;
}

.detailed-tombol {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    opacity: 0;
}

.image-box:hover .detailed-tombol {
    opacity: 1;
    transform: translate3d(-50%,0,70px);
}

.photo img {
    /* teknik biar ke tengah container */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
}

.image-box:hover img {
    transform: translateX(-50%) scale(1.2) translateY(-48px);
}

/* mobile */
@media (max-width: 350px) { /* artinya kalau ukuran layarnya kurang dari 250px */
    .image-box::before {
        font-size: 3rem;
    }
    .image-box::after {
        font-size: 3rem;
    }
}