body {
    overflow-x: hidden;
    
}

/* Jumbotron */

.jumbotron {
    padding-top: 6rem;
    background-color: #a2d9ff;
}   

.jumbotron img {
    width: 70vw;
    height: 70vw;
    object-fit: cover;
    border: 3px solid white;
    max-height: 200px;
    max-width: 200px;
}

.project {
    background-color: #a2d9ff;
}


section {
    padding-top: 5rem;

}
